{% extends 'base.html.twig' %}

{% block title %}Login - Vazquez Contadores{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid login-container">
    <div class="row login-row g-0">
        <!-- Columna Izquierda -->
        <div class="col-md-6 login-left d-none d-md-flex">
        </div>
        
        <!-- Columna Derecha -->
        <div class="col-md-6 login-right">
       

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Ya has iniciado sesión como {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                </div>
            {% endif %}
            <img src="{{ asset('build/images/Vazquez_logo_a.svg') }}" alt="Vazquez Contadores" class="login-logo">

            <form method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">CUIT/CUIL</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="username"
                           class="form-control required" required autofocus>
                </div>

                <div class="mb-2">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="_password" id="password"
                           class="form-control required" required>
                </div>

                <div class="mb-3">
                    <small class="text-muted">¿Olvidó su contraseña? <a class="link" href="#">Establecer una nueva</a></small>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary w-100 mb-2">
                    Iniciar sesión
                </button>
                
                <p class="mt-4 small text-muted">
                    El acceso al sistema se gestiona a través del administrador.
                    Para solicitar una cuenta, por favor contacte a la administración de la plataforma.
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}