{% extends 'base.html.twig' %}

{% block title %}Login - Vazquez Contadores{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid login-container">
        <div class="row h-100">
            <!-- Columna Derecha (Formulario) -->
            <div class="col-md-6 login-right">
                <div class="box-login">
                    
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Ya has iniciado sesión como {{ app.user.userIdentifier }},
                            <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                        </div>
                    {% endif %}

                    <form method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label title">CUIT / CUIL</label>
                            <input type="text" value="{{ last_username }}" name="_username" id="username"
                                class="form-control required" required autofocus>
                        </div>

                        <div class="mb-2">
                            <label for="password" class="form-label title">Contraseña</label>
                            <input type="password" name="_password" id="password"
                                class="form-control required" required>
                        </div>

                        <div class="mb-3">
                            <small class="text-muted d-md-flex justify-content-between align-items-center">
                                {# <span>¿Olvidó su contraseña?</span> #}
                                {# <a class="link" href="#"><strong>Establecer una nueva</strong></a> #}
                            </small>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button type="submit" class="btn btn-primary w-100 mb-2">
                            Iniciar sesión
                        </button>
                        
                        <p class="mt-4 small text-muted">
                            El acceso al sistema se gestiona a través del administrador.
                            Para solicitar una cuenta, por favor contacte a la administración de la plataforma.
                        </p>
                    </form>
                </div>
            </div>
            
            <!-- Columna Izquierda (Imagen) -->
            <div class="col-md-6 login-left d-none d-md-flex">
                <img src="{{ asset('build/images/VazquezLogo_Nuevo.svg') }}" alt="Vazquez Contadores" class="login-logo">
            </div>
        </div>
    </div>

{% endblock %}